// Demonstrate use of Sass mixins for reusable margin rules

// Define reusable mixin for left and right margins
@mixin set-margins($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Apply mixin to elements
body {
  @include set-margins(10px, 10px);
}

div {
  @include set-margins(15px, 15px);
}
